#delete,#pay{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: solid 1px rgb(129, 226, 202);
    background: rgb(129,226,202);
    color: white;
    }
    #delete{
    margin-left: 50px;
    }
    #pay{
    float:right;
    margin-right: 50px;
     }
    #delete:hover{
    transform: scale(1.2);
  
    color: white;
    
    }
    #pay:hover{
    transform: scale(1.2);
    background: rgb(223, 184, 59);
    color: white;
    border: solid 1px rgb(223, 184, 59);
    }

    ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    }

    ul.pagination li {display: inline;}

    ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    }

    ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    }

    ul.pagination li a:hover:not(.active) {background-color: #ddd;}

    div.center {text-align: center;}

     ul.pagination {
       display: inline-block;
       padding: 0;
       margin: 0;
    }

    ul.pagination li {display: inline;}

ul.pagination li a {
       color: black;
       float: left;
       padding: 8px 16px;
       text-decoration: none;
       transition: background-color .3s;
       border: 1px solid #ddd;
    }

ul.pagination li a.active {
       background-color: #4CAF50;
       color: white;
       border: 1px solid #4CAF50;
    }

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}
#logout{
       margin-left:80px;
}
#logout:hover{
       color:black;
}